.header{
    text-align: center;
    
}
.header img{
    height: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 2px 2px 4px rgb(192, 189, 189);
    padding: 20px;
    border-radius: 15px;

}
.header nav{
    background-color: #221F1F;
    display: flex;
    align-items: center;
    
    /* line-height: 45px; */
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    height: 80px;
}
nav a{
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    color: #fff;
}

nav a:hover{
    background-color: #FF9800;
    border-radius: 10px;
    text-decoration: none;
    color:#fff;
}


